.book-container {
  margin: 40px auto;
  padding: 24px;
  border: 1px solid #0b991e;
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 8px #c3da3e;
  border-radius: 10px;
  background: #4cd41b;
}
.book-container img {
  border-radius: 8px;
  margin-bottom: 12px;
}
.book-container button {
  margin-top: 10px;
  padding: 8px 18px;
  background: #3366ff;
  color: rgb(211, 14, 14);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.book-list {
  display: flex;
  gap: 36px;
  justify-content: center;
  margin-top: 48px;
}
