.card{
    width : 300px;
    height : 300 px;
    background-color: aqua;
    color : red;
    border : 5px solid black;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    
}
.linear{
    display: flex;
    align-items: center;
}